.textTitle {
  display: inline-block;
  min-width: 200px;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.type__text {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: monospace;
  letter-spacing: 5px;
}

.dropArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  margin-top: 1rem;
  border: 1px solid gray;
}
.dropArea span {
  letter-spacing: 5px;
  font-size: 2.5rem;
  font-family: monospace;
}

#listing {
  list-style-type: none
}

#listing li {
  padding: 0.5rem 0;
}